<div class="jumbotron">
  <div class="container">
    <h1>Devise Base</h1>
    </br>
      <pre><h4>&nbsp;add <a href="https://rubygems.org/gems/devise/versions/3.5.1" target="_blank">devise gem</a></h4></pre>
      <pre><h4>$ bundle install</h4></pre>
      <pre><h4>$ rails generate devise:install</h4></pre>
      <pre><h4>&nbsp;<a href="https://gist.github.com/pacafs/f77f73a8caa197fd8241#file-default_url_options-rb" target="_blank">add url options ????</a></h4></pre>
      <pre><h4>$ rails generate devise:views</h4></pre>
      <pre><h4>$ rails generate devise User</h4></pre>
      <pre><h4>$ rake db:migrate</h4></pre>
      <pre><h4>update _header.html.erb partial to include if than staments</h4></pre>
      <div class="text-center">

        <%= link_to "sign up", root_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>
</div>
